@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@800&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px #f0600000;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 5px; */
    background-color: #F06000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FC9D5D;
    
}

header{
    height: 772px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(imagens/banner7.jpg) no-repeat top center;
    background-size: cover !important;
	    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}

header #introduction {
    margin-top: 140px;
    max-width: 1500px;
}

header #introduction h1{
    color: #fff;
    font: 90px 'open sans', sans-serif;
    margin: 18px;
}

header p {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-size: 18px;
    margin: auto;
    width: 50%;
    
}

header hr {
    width: 50%;
    margin: 18px auto 24px auto;
    color: #F06000;
    border-color: rgb(240, 96, 0);
}

.menu {
    position: fixed;
    top: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
    width: 100%;
}


.menu ul li {
    line-height: 18px;
    margin-bottom: 12px;
    padding: 8px 13px;
}

.menu ul li a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    
}

.code_color {
    color: #F06000;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    position: fixed;

}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #F06000;
    margin: 8px;
    transition: 0.3s;
}

#contato {
    height: 50px;
    width: auto;
}

#contato ul {
    display: block;
    align-items: center;
    padding: 0;
}

#contato ul li {
    display: inline-block;
    margin: 5px;
}

#contato ul li a svg:hover {
    color: #F06000;
    width: 50px;
    height: 50px;
}

#contato ul li a svg {
    color: #fff;
    width: 40px;
    height: 40px;
    transition: 0.6s;
    align-items: center;
}

.icon_seta {
    position: absolute;
    bottom: 30px;
    vertical-align: bottom;
    width: 100%;
}

#seta {
    color: #F06000;
    width: auto;
    height: 50px;
    animation: is-bouncing 1s ease-in-out alternate infinite;
}

main {
    display: flex;
    background-color: #2B2B2B; 
    height: 772px;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main p {
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-size: 18px;
    margin: auto;
    text-align: justify;
    width: 74%;
}

main a {
    color: #00E2F0;
    text-decoration: none;
    transition: 0.5s;
}

main a:hover {
    text-decoration: underline;
    color: #F06000;
}

main .campo-perfil .foto-perfil {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}


.quem_sou_eu {
    display: flex;
    flex-direction: column;
}

.quem_sou_eu h2 {
    text-align: left;
    width: 100%;
    padding: 1em;
    margin-left: 129px;
    color: #F06000;
}

.quem_sou_eu p {
    color: #7A7A7A;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #F06000;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
        transition: 0.5s;
    }

    header #introduction h1{
        color: #fff;
        font: 66px 'open sans', sans-serif;
        margin: 18px;
    }

    header p {
        font-family: 'Libre Baskerville', serif;
        color: #fff;
        font-size: 18px;
        margin: auto;
        text-align: justify;
        width: 74%;
    }

    .icon_seta {
        position: fixed;
        bottom: 30px;
        vertical-align: bottom;
        width: 100%;
    }

    main div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes is-bouncing {
    to {
        transform: translateY(30px);
    }
}

